nav {
display: flex;
  height: 120px;
  background-color: #4056A1;
  color: #FFFF;
  padding: 0px 10% 50px;
  /* padding-bottom: 50px; */
  padding: 1.5em;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0em;
  width: 100%;
  z-index: 2;
}

.btn-default {
  border: none;
  background-color:#4056A1;

}

.arrows {
  display: flex;
  margin: 0 auto;
}

.arrows {
  width: 5px;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 5px;
  height: 5px;
  border: 5px solid;
  border-color: black transparent transparent orangered;
  transform: rotate(-135deg);
}


.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite; 
          animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s; 
    animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s; 
    animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s; 
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translateX(15vw); }  
   20% { opacity:1; transform: translateX(9vw); }   
   80% { opacity:1; transform: translateX(-9vw); }  
  100% { opacity:0; transform: translateX(-15vw); } 
}
@keyframes slide {
    0% { opacity:0; transform: translateX(15vw); }  
   20% { opacity:1; transform: translateX(9vw); }   
   80% { opacity:1; transform: translateX(-9vw); }  
  100% { opacity:0; transform: translateX(-15vw); } 
}



@media only screen and (max-width: 768px) {
  nav {
    background-color:#ff6600;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  }
  .btn-default {
    border: none;
    background-color:transparent;
    /* background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png"); */
  
  }
  .arrow {
    width: 5px;
    height: 5px;
    border: 5px solid;
    border-color: black transparent transparent black;
    transform: rotate(-135deg);
  }

  
}