.tweet-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
}

#tweet-text {
  border-radius: 5px;
  box-shadow: orchid;
  padding: 10px;
  border-bottom: 4px;
  border-style: solid;
  background-color: lightgray
}


.form-error-message {
  color: firebrick;
  font-family: 'Source Sans Pro';
  font-size: 24px;
  border: firebrick solid 3px;
  display: none;
  text-align: center;
  margin-bottom: 1%;
}

.button-counter {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

button {
  border-radius: 4px;
  background-color:#4056A1;
  font-family: Bungee;
}

.counter {
  color: grey;
}


@media only screen and (min-width: 1024px) and (max-width: 1399px) {

  .tweet-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 30px;
  }

  h2 {
    display: block;
    color: black;
  }
  
  
   }