#posted-tweets {
  border: darkgray 2px solid;
  padding: 2%;
  margin: 1% 0%;
  opacity: .7;
  
}


#posted-tweets:hover{
  box-shadow: 8px 7px 1px 4px darkgrey;
  opacity: 3;

}


.posted-content {
  font-weight: 50;
  max-width: 80%;
  margin: 8px;
}

.handle {
  color:darkgrey;
  opacity: .5;
}

.name-avatar{
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.avatar {
  max-height: 25px;
  max-width: 25px;
}

.inner-border{
  border: black 3px;
}

.posted-header {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  font-size: smaller;
  font-style: oblique;
}

.posted-footer {
  display: flex;
  justify-content: space-between;
  border-top: 4px solid black;
  font-size: small;
}

@media only screen and (min-width: 1024px) and (max-width: 1399px) {

  #tweet-container {
    padding: 2%;
    margin: 2% 0%;
    opacity: .7;
    
  }
  

  nav {
    display: flex;
      height: 120px;
      background-color: #4056A1;
      color: #FFFF;
      padding: 5% 10% 5%;
      /* padding-bottom: 50px; */
      /* padding: 1.5rem; */
      align-items: center;
      justify-content: space-between;
      position: fixed;
      top: 0em;
      width: 100%;
      z-index: 2;
    }



}
